span {
    text-align: center;
}

.page-section {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 30%;
}

.name-section {
    text-align: center;
    font-size: 32px;
    font-family: Open Sans, sans-serif;
}